.exportContent {
  border: 3px solid $yellow;
  background-color: white;
  z-index: 2;
  max-height: 120px;
  margin: 15px auto;
  padding: 15px;
  position: fixed;
  top: 0px;
  overflow-y: scroll;
  left: 300px;
  width: 350px;
  right: 0px;
}
.fadeAndSlide-enter,
.fadeAndSlide-leave-to {
  opacity: 0;
  transform: translateY(-200px);
}
.fadeAndSlide-enter-to,
.fadeAndSlide-leave {
  opacity: 1;
}
.fadeAndSlide-enter-active,
.fadeAndSlide-leave-active {
  transition: all 0.5s ease;
}
