.sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 9px 0px 23px -17px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 1;
  text-align: center;
  background-color: white;
  .rules {
    input {
      margin: 5px;
      width: 85%;
    }
    button {
      width: 100%;
      background-color: $yellow;
      height: 50px;
      cursor: pointer;
      &:hover {
        background-color: $light-yellow;
      }
    }
    .active {
      border-bottom: 3px solid $dark-yellow;
    }
    .rulesWrap {
      z-index: -1;
      padding: 15px;
      overflow: hidden;
    }
    .roll-enter-active,
    .roll-leave-active {
      transition: all 0.2s ease;
    }
    .roll-enter,
    .roll-leave-to {
      height: 0px;
      opacity: 0;
    }
    .roll-enter-to,
    .roll-leave {
      opacity: 1;
    }
  }
}
