.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  #footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    button {
      margin: 30px 15px;
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      background-color: $yellow;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px $dark-yellow;
    }
    button:hover {
      background-color: $light-yellow;
    }
    button:active {
      box-shadow: 0 5px $dark-yellow;
      transform: translateY(4px);
    }
  }
}
