.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .export {
    margin:15px;
    position: absolute;
    bottom: 0px;
    left: 300px;
    .exportContent {
      box-shadow: inset 0 0 5px #000000;
      padding: 15px;
      position: absolute;
      bottom: 50px;
      left: 0px;
      width: calc(300px - 30px);

    }
    .exportBtn {
      font-size: 40px;
      padding: 0;
      border: none;
      background: none;
      height: 50px;
      width: 300px;
      background-color: grey;
      &:hover {
        background-color: green;
      }
    }
  }
  #credits {
    margin:15px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display:flex;
    height:56px;
    a {
      color: inherit;
      text-decoration: inherit;
      font-size: 50px;
      &:hover {
        color: blue;
      }
    }
  }
}
