.exportContent {
  border: 3px solid $yellow;
  background-color: white;
  z-index: 2;
  max-height: 120px;
  margin: 15px auto;
  padding: 15px;
  position: fixed;
  top: 0px;
  overflow-y: scroll;
  left: 300px;
  width: 350px;
  right: 0px;
}
