.sidebar {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 9px 0px 23px -17px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 1;
  text-align: center;
  .rules {
    input {
      margin: 5px;
      width: 85%;
    }
    button {
      width: 100%;
      background-color: $yellow;
      height: 50px;
      cursor: pointer;
      &:hover {
        background-color: $light-yellow;
      }
    }
    .active {
      border-bottom: 3px solid $dark-yellow;
    }
    .rulesWrap {
      padding: 15px;
    }
  }
}
